In [9]:
# Import data manipulation modules
import pandas as pd
import os
import numpy as np

# Import data visualization modules
import matplotlib as mpl
import matplotlib.pyplot as plt

In [13]:
draft_df = pd.read_csv('./Resources/Draft_data.csv')
draft_df.head()

,Year,Rnd,Pick,Player,Pos,DrAge,Tm,From,To,AP1,PB,St,CarAV,G,GS,College/Univ
0,2021,1,1,Trevor Lawrence\LawrTr00,QB,21.0,JAX,2021.0,2021.0,0,0,0,0.0,9.0,9.0,Clemson
1,2021,1,2,Zach Wilson\WilsZa00,QB,22.0,NYJ,2021.0,2021.0,0,0,0,0.0,6.0,6.0,BYU
2,2021,1,3,Trey Lance\LancTr00,QB,21.0,SFO,2021.0,2021.0,0,0,0,0.0,4.0,1.0,North Dakota St.
3,2021,1,4,Kyle Pitts\PittKy00,TE,20.0,ATL,2021.0,2021.0,0,0,0,0.0,10.0,9.0,Florida
4,2021,1,5,Ja'Marr Chase\ChasJa00,WR,21.0,CIN,2021.0,2021.0,0,0,0,0.0,9.0,9.0,LSU

In [16]:
# Determine if there are any missing values in school data
draft_df.count()

Year            5512
Rnd             5512
Pick            5512
Player          5512
Pos             5512
DrAge           5252
Tm              5512
From            4959
To              4959
AP1             5512
PB              5512
St              5512
CarAV           4959
G               4959
GS              4959
College/Univ    5501
dtype: int64

In [17]:
# determine data type for DataFrame
draft_df.dtypes

Year              int64
Rnd               int64
Pick              int64
Player           object
Pos              object
DrAge           float64
Tm               object
From            float64
To              float64
AP1               int64
PB                int64
St                int64
CarAV           float64
G               float64
GS              float64
College/Univ     object
dtype: object

In [ ]:
# combine the data into a single dataset

#school_data_complete_df = pd.merge(student_data_df, school_data_df, on=["school_name", "school_name"])
#school_data_complete_df.head()

In [ ]:
# get the total number of students
student_count = school_data_complete_df.count()
student_count