In [7]:
# Import data manipulation modules
import pandas as pd
import os
import numpy as np

# Import data visualization modules
import matplotlib as mpl
import matplotlib.pyplot as plt

In [8]:
draft_df = pd.read_csv('./Resources/Draft_data.csv')
draft_df.head()

,Year,Rnd,Pick,Player,Pos,DrAge,Tm,From,To,AP1,PB,St,CarAV,G,GS,College/Univ
0,2021,1,1,Trevor Lawrence\LawrTr00,QB,21.0,JAX,2021,2021,0,0,0,0,9,9,Clemson
1,2021,1,2,Zach Wilson\WilsZa00,QB,22.0,NYJ,2021,2021,0,0,0,0,6,6,BYU
2,2021,1,3,Trey Lance\LancTr00,QB,21.0,SFO,2021,2021,0,0,0,0,4,1,North Dakota St.
3,2021,1,4,Kyle Pitts\PittKy00,TE,20.0,ATL,2021,2021,0,0,0,0,10,9,Florida
4,2021,1,5,Ja'Marr Chase\ChasJa00,WR,21.0,CIN,2021,2021,0,0,0,0,9,9,LSU

In [9]:
# Determine if there are any missing values in school data
draft_df.count()

Year            5512
Rnd             5512
Pick            5512
Player          5512
Pos             5512
DrAge           5511
Tm              5512
From            5512
To              5512
AP1             5512
PB              5512
St              5512
CarAV           5512
G               5512
GS              5512
College/Univ    5503
dtype: int64

In [4]:
# determine data type for DataFrame
draft_df.dtypes

Year              int64
Rnd               int64
Pick              int64
Player           object
Pos              object
DrAge           float64
Tm               object
From            float64
To              float64
AP1               int64
PB                int64
St                int64
CarAV           float64
G               float64
GS              float64
College/Univ     object
dtype: object

In [5]:
draft_df.head(10)

,Year,Rnd,Pick,Player,Pos,DrAge,Tm,From,To,AP1,PB,St,CarAV,G,GS,College/Univ
0,2021,1,1,Trevor Lawrence\LawrTr00,QB,21.0,JAX,2021.0,2021.0,0,0,0,0.0,9.0,9.0,Clemson
1,2021,1,2,Zach Wilson\WilsZa00,QB,22.0,NYJ,2021.0,2021.0,0,0,0,0.0,6.0,6.0,BYU
2,2021,1,3,Trey Lance\LancTr00,QB,21.0,SFO,2021.0,2021.0,0,0,0,0.0,4.0,1.0,North Dakota St.
3,2021,1,4,Kyle Pitts\PittKy00,TE,20.0,ATL,2021.0,2021.0,0,0,0,0.0,10.0,9.0,Florida
4,2021,1,5,Ja'Marr Chase\ChasJa00,WR,21.0,CIN,2021.0,2021.0,0,0,0,0.0,9.0,9.0,LSU
5,2021,1,6,Jaylen Waddle\WaddJa00,WR,22.0,MIA,2021.0,2021.0,0,0,0,0.0,10.0,10.0,Alabama
6,2021,1,7,Penei Sewell\SewePe00,OL,20.0,DET,2021.0,2021.0,0,0,0,0.0,9.0,9.0,Oregon
7,2021,1,8,Jaycee Horn\HornJa00,DB,21.0,CAR,2021.0,2021.0,0,0,0,0.0,3.0,3.0,South Carolina
8,2021,1,9,Patrick Surtain II\SurtPa01,DB,21.0,DEN,2021.0,2021.0,0,0,0,0.0,10.0,9.0,Alabama
9,2021,1,10,DeVonta Smith\SmitDe07,WR,22.0,PHI,2021.0,2021.0,0,0,0,0.0,10.0,10.0,Alabama

In [6]:
draft_df.Pos.value_counts()

DB     798
WR     717
LB     594
DE     493
RB     454
DT     428
T      418
TE     322
G      289
QB     270
CB     189
C      138
S      128
OL      74
OLB     73
FB      48
ILB     34
DL      31
NT      14
Name: Pos, dtype: int64

In [ ]:
#replace and merge Positions
#draft_df.loc[draft_df.Pos =='NT',"Pos"] = "DL"