In [2]:
# Import scraping modules
from urllib.request import urlopen
from bs4 import BeautifulSoup

In [3]:
# Import data manipulation modules
import pandas as pd
import numpy as np

# Import data visualization modules
import matplotlib as mpl
import matplotlib.pyplot as plt

In [4]:
# URL of page
url = 'https://www.pro-football-reference.com/years/2021/draft.htm'

# Open URL and pass to BeautifulSoup
html = urlopen(url)
draft_page = BeautifulSoup(html)

In [5]:
# Collect table headers
column_headers = draft_page.findAll('tr')[1]
column_headers = [i.getText() for i in column_headers.findAll('th')]

In [6]:
print(column_headers)

['Rnd', 'Pick', 'Tm', 'Player', 'Pos', 'Age', 'To', 'AP1', 'PB', 'St', 'CarAV', 'DrAV', 'G', 'Cmp', 'Att', 'Yds', 'TD', 'Int', 'Att', 'Yds', 'TD', 'Rec', 'Yds', 'TD', 'Solo', 'Int', 'Sk', 'College/Univ', '']

In [7]:
# Collect table rows
rows = draft_page.findAll('tr')[1:]

# Get stats from each row
qb_stats = []
for i in range(len(rows)):
    qb_stats.append([col.getText() for col in rows[i].findAll('td')])

In [15]:
# Create DataFrame from our scraped data
data = pd.DataFrame(qb_stats, columns=column_headers[1:], index=False)

TypeError: Index(...) must be called with a collection of some kind, False was passed

In [8]:
print(column_headers)

['Rnd', 'Pick', 'Tm', 'Player', 'Pos', 'Age', 'To', 'AP1', 'PB', 'St', 'CarAV', 'DrAV', 'G', 'Cmp', 'Att', 'Yds', 'TD', 'Int', 'Att', 'Yds', 'TD', 'Rec', 'Yds', 'TD', 'Solo', 'Int', 'Sk', 'College/Univ', '']

In [10]:
# Examine first five rows of data
data.head()

,Pick,Tm,Player,Pos,Age,To,AP1,PB,St,CarAV,...,Yds,TD,Rec,Yds,TD,Solo,Int,Sk,College/Univ,
0,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1,1,JAX,Trevor Lawrence,QB,21,2021,0,0,0,0,...,169,2,0,0,0,,,,Clemson,College Stats
2,2,NYJ,Zach Wilson,QB,22,2021,0,0,0,0,...,22,0,0,0,0,,,,BYU,College Stats
3,3,SFO,Trey Lance,QB,21,2021,0,0,0,0,...,133,1,0,0,0,,,,North Dakota St.,College Stats
4,4,ATL,Kyle Pitts,TE,20,2021,0,0,0,0,...,0,0,40,606,1,2,,,Florida,College Stats

In [10]:
data.columns

Index(['Pick', 'Tm', 'Player', 'Pos', 'Age', 'To', 'AP1', 'PB', 'St', 'CarAV',
       'DrAV', 'G', 'Cmp', 'Att', 'Yds', 'TD', 'Int', 'Att', 'Yds', 'TD',
       'Rec', 'Yds', 'TD', 'Solo', 'Int', 'Sk', 'College/Univ', ''],
      dtype='object')

In [12]:
first_col = data.iloc[:0]

In [13]:
print(first_col)

Empty DataFrame
Columns: [Pick, Tm, Player, Pos, Age, To, AP1, PB, St, CarAV, DrAV, G, Cmp, Att, Yds, TD, Int, Att, Yds, TD, Rec, Yds, TD, Solo, Int, Sk, College/Univ, ]
Index: []

[0 rows x 28 columns]